<html title="DubStudio">
    <body>
        {% load static%}

        <h2>Cada (estación es) Verano</h2>
        <a data-pin-do="embedBoard" data-pin-board-width="1400" data-pin-scale-height="800" data-pin-scale-width="60" href="https://www.pinterest.com.mx/ralacas/verano/"></a>
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
        
        <!-- 
        <img src="{% static 'core/previo-home.jpg' %}" width="100%">
        -->
    </body>
    
</html>