<html title="DubStudio">
    <body>
        {% load static%}
<!-- 
        <h2>Welcome to the DubStudio</h2>
        <a data-pin-do="embedBoard" data-pin-board-width="150" data-pin-scale-height="800" data-pin-scale-width="60" href="https://www.pinterest.com.mx/ralacas/dubstudio-layout/"></a>
        <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
        -->

        <img src="{% static 'core/previo-home.jpg' %}" width="100%">
        
    </body>
    
</html>